.about-me {
  background-color: var(--primaryColor);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.content-about {
  display: flex;
  flex-direction: column;
}

.content-about p {
  margin: auto;
  width: 90%;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.content-about img {
  -webkit-clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
  clip-path: polygon(92.32051% 40%, 93.79385% 43.1596%, 94.69616% 46.52704%, 95% 50%, 94.69616% 53.47296%, 93.79385% 56.8404%, 92.32051% 60%, 79.82051% 81.65064%, 77.82089% 84.50639%, 75.35575% 86.97152%, 72.5% 88.97114%, 69.3404% 90.44449%, 65.97296% 91.34679%, 62.5% 91.65064%, 37.5% 91.65064%, 34.02704% 91.34679%, 30.6596% 90.44449%, 27.5% 88.97114%, 24.64425% 86.97152%, 22.17911% 84.50639%, 20.17949% 81.65064%, 7.67949% 60%, 6.20615% 56.8404%, 5.30384% 53.47296%, 5% 50%, 5.30384% 46.52704%, 6.20615% 43.1596%, 7.67949% 40%, 20.17949% 18.34936%, 22.17911% 15.49361%, 24.64425% 13.02848%, 27.5% 11.02886%, 30.6596% 9.55551%, 34.02704% 8.65321%, 37.5% 8.34936%, 62.5% 8.34936%, 65.97296% 8.65321%, 69.3404% 9.55551%, 72.5% 11.02886%, 75.35575% 13.02848%, 77.82089% 15.49361%, 79.82051% 18.34936%);
  margin: 12px 0 14px 0;
  align-self: center;
  width: 30%;
  height: auto;
  border-radius: 8px;
  transform:rotate(12deg);
}

@media (min-width:530px) and (max-width:768px) {
  .content-about {
    display: flex;
    flex-direction: row;
  }
  .content-about img {
    margin: 20px;
    align-self: center;
    width: 30%;
    height: auto;
    border-radius: 8px;
  }
  .content-about p {
    padding: 10px;
  }
}

@media (min-width:769px) {
  .content-about {
    display: flex;
    flex-direction: row;
  }
  .content-about img {
    margin: 20px;
    align-self: center;
    width: 30%;
    height: auto;
    border-radius: 8px;
    transform: scaleX(-1) rotate(12deg);
  }
  .content-about p {
    display: inline-block;
    padding: 0 30px;
  }
}