.about-me {
  background-color: var(--primaryColor);
  display: flex;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
}

.about-me p {
  margin: auto;
  width: 90%;
  text-align: left;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.about-me img {
  margin: 12px 0 14px 0;
  align-self: center;
  width: 145px;
}

@media (max-width:530px) {
  .about-me{
    
  }
}