/* BUTTON */

.common-button {
  font-size: 17px;
  text-align: center;
  background-color: rgb(230, 194, 141);
  color: black;
  text-decoration: none;
  width: 100px;
  padding: 5px;
  border-radius: 7px;
  margin: 5px 5px;
}

@media (min-width: 530px) {
  .common-button{
    width: 120px;
  }
}

.common-button:hover {
  transition: box-shadow 0.2s, background-color 0.4s;
  background-color: rgb(114, 77, 42);
  box-shadow: 2.4px 5px rgba(17, 16, 16, 0.295);
}

/* ____________ */