body {
    font-family: Roboto;
    background-color: var(--primaryColor)
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor) 0.6;
    backdrop-filter: blur(3px);
    height: 50px;
    width: 100%;
    z-index: 10000;
}

.nav-items {
    display: block;
    background-color: var(--primaryColor) 0.6;
}

.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label.logo {
    margin-left: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
}

#collapse-button {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-right: 10px;
    line-height: 50px;
    float: right;
    left: 20px;
    cursor: pointer;
}

.navbar-toggler span{
    right: 10px;
    position: absolute;
    display: inline-block;
    width: 24px;
    background-color: #000000;
    height: 3px;
    align-self: center;
    transition: transform 0.3s ease-in-out;
}
.navbar-toggler span::before{
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 3px;
    background-color: #000000;
    align-self: center;
    transform: translateY(-6px);
    transition: transform 0.3s ease-in;
}
.navbar-toggler span::after{
    content: "";
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 3px;
    background-color: #000000;
    align-self: center;
    transform: translateY(6px);
    transition: transform 0.3s ease-in;
}
/* BUTTON COLLAPSE ACTIVE */

.collapse-button-active span{
    background-color:transparent;
}
.collapse-button-active span::before{
    transform: rotate(-46deg);
}
.collapse-button-active span::after{
    transform: rotate(46deg);
}
.nav-items {
    display: none;
}
ul.nav-items-collapse {
    display: block;
    position: fixed;
    top: 50px;
    left: 100%;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.2s;
    background-color: var(--primaryColor);
    opacity: 1;
    float: right;
    flex-direction: column;
    z-index: 200000;
}

ul.nav-items-collapse li {
    display: block;
    margin: 20px 0;
    line-height: 30px;
}

ul li a {
    color: #000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    width: 100%;
    text-transform: uppercase;
}

ul.no-collapse {
    left: 0%;
    transition: 0.2s;
}

ul li a:hover, a.active {
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    background-color: #000;
    color: #fff;
}

@media (min-width:657px) {
    label.logo {
        margin-left: 20px;
    }
    #collapse-button {
        display: none;
    }
    .nav-items {
        display: block;
        background-color: var(--primaryColor) 0.6;
    }
    .nav-items-collapse {
        display: none;
    }
    ul.nav-items {
        opacity: 1;
        float: right;
        flex-direction: column;
        z-index: 200000;
    }
    
    ul.nav-items li {
        display: inline-block;
        line-height: 50px;
    }
    
    ul li a {
        color: #000;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
    }
}

@media (min-width:800px) {
    label.logo {
        margin-left: 100px;
    }
    ul li a {
        color: #000;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
    }
}