
body {
    font-family: Roboto;
    background-color: var(--primaryColor)
}

.navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    background-color: var(--primaryColor) 0.6;
    backdrop-filter: blur(3px);
    height: 50px;
    width: 100%;
    z-index: 10000;
}
.expand-nav {
    display: block;
    background-color: var(--primaryColor) 0.6;
}
.navbar-nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label.logo {
    margin-left: 15px;
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    line-height: 50px;
}

#collapse-button {
    display: none;
}

ul {
    background-color: var(--primaryColor);
    opacity: 1;
    float: right;
    flex-direction: column;
    z-index: 200000;
}

ul li {
    display: inline-block;
    line-height: 50px;
}

ul li a {
    color: #000;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

.collapse-nav {
    display: none;
}

ul li a:hover {
    color: rgb(128, 126, 66);
}



@media (max-width:530px) {
    #collapse-button {
        font-size: 25px;
        line-height: 50px;
        cursor: pointer;
        margin-right: 10px;
        float: right;
        left: 20px;
        display: block;
    }
    .expand-nav {
        display: none;
    }
    .collapse-nav {
        display: block;
    }
    .no-collapse {
        left: 50%;
        transition: 0.2s;
    }
    ul {
        position: fixed;
        top: 0;
        left: 100%;
        width: 50%;
        height: 100vh;
        text-align: center;
        transition: 0.2s;
    }
    ul li {
        display: block;
        margin: 20px 0;
        line-height: 30px;
    }
    ul li a {
        color: #000;
        font-size: 17px;
        padding: 7px 13px;
        border-radius: 3px;
    }
    
}

@media (min-width:769px){
    ul li a {
        color: #000;
        font-size: 20px;
        padding: 7px 13px;
        border-radius: 3px;
    }
}