.skill {
  display: flex;
  flex-direction: column;
  justify-self: center;
  width: 71px;
  height: 60px;
  margin: 30px 0;
}

.skill label {
  text-align: center;
}

.skill img {
  height: 45px;
  width: 71px;
  object-fit: contain;
}

.skills-container {
  background-color: var(--primaryColor);
}

.skills-list {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width:320px) {
  .skills-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width:530px) and (max-width:730px) {
  .skill {
    margin: 30px 0;
  }
}

@media (min-width:1000px) {
  .navbar{
    padding: 0 120px;
  }
}