.footer {
  height: 20vh;
  width: 100%;
  height: 20vh;
}

.social-medias {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.social-medias img {
  width: 35px;
  height: auto;
}

a:hover{
  transform: scale(1.2);
  transition: .1s;;
}

@media (min-width:830px) {
  .social-medias {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
  }

  .social-medias img {
    width: 50px;
    height: auto;
  }

}